.users {
  header {
    font-size: 1.2rem;
    border-bottom: solid 1px #1c1e21;
    position : fixed;
    top : 0;
    z-index : 10;
    width: 100%
  }
  .header-left {
    height: 8.3rem;
    background-color: #3b5998;
  }
  .header-left p {
    color : #fff;
    font-family: "Tahoma", sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 1.8rem;
    margin-left: 21.5rem;
    margin-bottom: 0;
  }
  .header-right {
    height: 8.3rem;
    background-color: #3b5998;
  }
  .header-right-table {
    margin-top: 1.4rem;
    margin-left: 7rem;
  }
  td {
    width: 15rem;
  }
  .header-right-title p {
    color : #fff;
    margin-bottom: 0.1rem;
  }
  .loginbutton input {
    color: #fff;
    background-color: #4267b2;
    border: 0.1rem solid #29487d;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-top:0.4rem;
  }
  .loginerror {
    padding: 0;
  }
  .middle {
    margin-top: 8.3rem;
    height: 60.5rem;
    background: linear-gradient(white, #D3D8E8);
  }
  .middle-left-box {
    margin-left: 21.5rem;
  }
  .introduction {
    color: #0e385f;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.9rem;
    margin-top: 4rem;
    width: 45rem;
  }
  .disp-img1 {
    float: left;
    background-image:url("cooking_chef_man_asia.png");
    width: 11rem;
    height: 11rem;
    background-size: cover;
  }
  .disp-img2 {
    float: left;
    background-image:url("cooking_chef_woman_white.png");
    width: 11rem;
    height: 11rem;
    background-size: cover;
  }
  .disp-img3 {
    float: left;
    background-image:url("cooking_chef_man_black.png");
    width: 11rem;
    height: 11rem;
    background-size: cover;
  }
  .disp-img4 {
    float: left;
    background-image:url("cooking_chef_woman_india.png");
    width: 11rem;
    height: 11rem;
    background-size: cover;
  }
  .middle-right-box {
    margin-left: 7rem;
  }
  .registration-text {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .registration-title {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .registration-description {
    font-size: 1.9rem;
  }
  #error_explanation {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .registration-input {
    font-size: 1.8rem;
    width: 65%;
    padding-bottom: 1rem;
  }
  .registration-submit {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  footer{
    height: 16.3rem;
    background-color: #fff;
  }
  .header-middle {
    width: 100%;
    height: 4.3rem;
    background-color: #3b5998;
    display: inline-block;
    text-align: center;
  }
  .header-middle-box {
    font-size: 1.5rem;
    color : #fff;
    margin-top: 1.1rem;
    padding: 0;
  }
  .header-middle-box a {
    color: #fff;
  }
  .space {
    margin-left: 10rem;
  }
  .middle-show {
    margin-top: 4.3rem;
    height: 100%;
    background: linear-gradient(white, #D3D8E8);
  }
  .upper-middle {
    height: 35rem;
  }
  .upper-middle-fill-left1 {
    height: 100%;
  }
  .upper-middle-fill-left2 {
    height: 100%;
  }
  .upper-middle-contents {
    height: 100%;
    background-color: #1DA1F2;
  }
  .upper-middle-contents p {
    font-size: 3rem;
    color : #fff;
    margin-top: 29rem;
  }
  .upper-middle-fill-right {
    height: 100%;
  }
  .under-middle-fill-left1 {
    height: 100%;
  }
  .under-middle-fill-left2 {
    height: 100%;
  }
  .under-middle-contents {
    height: 100%;
  }
  .under-middle-message {
    height: 3rem;
  }
  .under-middle-fill-right {
    height: 100%;
  }
  .under-middle-button-area {
    margin-top: 1.3rem;
    height: 5rem;
    background: linear-gradient(white, #D3D8E8);
  }
  .button-new-post {
    height: 4rem;
    width: 10rem;
    padding-top: 1rem;
    margin-left: 1rem;
  }
  .button-new-post a {
    color: #000000;
  }
  .button-new-post p {
    line-height: 3rem;
  }
  .message-text {
    height: 3rem;
    padding: 0;
    animation-name:fade-in1;
    animation-duration:4s; /*//アニメーション時間*/
    animation-timing-function: ease-out; /*/アニメーションさせるイージング*/
    animation-delay:1s; /*/アニメーション開始させる時間*/
    animation-iteration-count:1; /*/繰り返し回数*/
    animation-direction:normal; /*/往復処理をするかどうか*/
    animation-fill-mode: forwards; /*/アニメーション後のスタイルをどうするか*/
  }
  .message-text p {
    line-height: 3rem;
  }
  @keyframes fade-in1 {
    0% {opacity: 1}
    100% {opacity: 0}
  }
  .under-middle-post-title p {
    line-height: 4rem;
  }
  .contents-box {
    background: linear-gradient(white, #D3D8E8);
    margin-top: 1rem;
  }
  .contents-box-contributor-name P {
    font-size: 2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    // background-color: blue;
  }
  .contents-box-contributor-name span {
    font-size: 1.5rem;
    margin-left: 3rem;
  }
  .contents-box-comment {
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    background-color: #fff;
  }
  .contents-box-image {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .contents-box-comment p {
    word-wrap: break-word;
  }
  .contents-detail {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}
